In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
credit = pd.read_csv("Datasets/credit_card_fraud_dataset.csv")
credit.head()

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0

In [3]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   TransactionID    100000 non-null  int64
 1   TransactionDate  100000 non-null  object
 2   Amount           100000 non-null  float64
 3   MerchantID       100000 non-null  int64
 4   TransactionType  100000 non-null  object
 5   Location         100000 non-null  object
 6   IsFraud          100000 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.3+ MB

In [4]:
credit.shape

(100000, 7)

In [5]:
credit.describe()

       TransactionID         Amount     MerchantID        IsFraud
count  100000.000000  100000.000000  100000.000000  100000.000000
mean    50000.500000    2497.092666     501.676070       0.010000
std     28867.657797    1442.415999     288.715868       0.099499
min         1.000000       1.050000       1.000000       0.000000
25%     25000.750000    1247.955000     252.000000       0.000000
50%     50000.500000    2496.500000     503.000000       0.000000
75%     75000.250000    3743.592500     753.000000       0.000000
max    100000.000000    4999.770000    1000.000000       1.000000

In [6]:
credit.isnull().sum()

TransactionID      0
TransactionDate    0
Amount             0
MerchantID         0
TransactionType    0
Location           0
IsFraud            0
dtype: int64

In [7]:
credit['TransactionType'].value_counts()

TransactionType
refund      50131
purchase    49869
Name: count, dtype: int64

In [8]:
credit['Location'].value_counts()

Location
Chicago         10193
San Diego       10111
Dallas          10076
San Antonio     10062
New York         9993
Houston          9991
Phoenix          9960
Los Angeles      9936
Philadelphia     9873
San Jose         9805
Name: count, dtype: int64

In [9]:
X = credit.drop(columns=['TransactionID','TransactionDate','IsFraud'])
y = credit['IsFraud']

In [10]:
X

        Amount  MerchantID TransactionType      Location
0      4189.27         688          refund   San Antonio
1      2659.71         109          refund        Dallas
2       784.00         394        purchase      New York
3      3514.40         944        purchase  Philadelphia
4       369.07         475        purchase       Phoenix
...        ...         ...             ...           ...
99995  1057.29         289          refund   San Antonio
99996   297.25         745          refund   San Antonio
99997  3448.56         690        purchase   San Antonio
99998  3750.79         644        purchase  Philadelphia
99999  1596.79         675          refund       Houston

[100000 rows x 4 columns]

In [11]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: IsFraud, Length: 100000, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['TransactionType'] = le.fit_transform(X['TransactionType'])
X['Location'] = le.fit_transform(X['Location'])

In [13]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X, y, test_size=0.2 , random_state=42)

In [14]:
X_train.shape

(80000, 4)

In [15]:
X_test.shape

(20000, 4)

In [16]:
y_train.shape

(80000,)

In [17]:
y_test.shape

(20000,)

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'San Antonio'